.container__lottery {
    box-sizing: border-box;
    padding: 5px 15px;
    margin-left: 15px;
    min-width: 480px;
    max-width: 999px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #000000, #614051);
    font-family: 'PT Sans Narrow', sans-serif;
}

.lottery__parent {
    text-align: center;
    padding: 20px;
}


.lottery__text__standard {
    color: #fcd9d6;
    padding: 5px;

}

.lottery__win__box {
    position:fixed;
    background-color: #8b72be;
    display: none;
    width: 50%;
    height: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}