
h1 {
    padding: 4px;
}

h2 {
    padding: 2px;
}


h3 {
    padding: 6px;
    margin-bottom: 5px;
    font-size: 18px;
    background-color: black;
    font-weight: 700;
    border: 2px;
    border-radius: 20px;
}

span {
    color: #c8a2c8
}

